// Project IcoFont
$ico-uniE90F: "\e902";
$ico-Usuario: "\e905";
$ico-Camin: "\e906";
$ico-jump: "\e900";
$ico-vtex: "\e901";
$ico-arrow-up-circled: "\e957";
$ico-arrow-down-circled: "\e956";
$ico-arrow-left-circled: "\e958";
$ico-arrow-right-circled: "\e959";
$ico-plus-circled: "\e95a";
$ico-loader: "\e95b";
$ico-menu: "\e95d";
$ico-home: "\e95f";
$ico-arrow-up: "\e963";
$ico-arrow-down: "\e962";
$ico-arrow-left: "\e964";
$ico-arrow-right: "\e965";
$ico-up-arrow: "\f144";
$ico-down-arrow: "\f148";
$ico-left-arrow: "\f122";
$ico-right-arrow: "\f138";
$ico-play: "\e961";
$ico-pause: "\f12f";
$ico-speaker-off: "\e966";
$ico-speaker: "\e967";
$ico-play-2: "\e977";
$ico-pause-2: "\e976";
$ico-circled-play: "\e96e";
$ico-chevron-down: "\e968";
$ico-chevron-up: "\e969";
$ico-chevron-left: "\e96a";
$ico-chevron-right: "\e96b";
$ico-right-long-arrow: "\e98a";
$ico-leftd: "\e96c";
$ico-rightd: "\e973";
$ico-arrow-up-3: "\e98b";
$ico-arrow-down-3: "\e991";
$ico-arrow-left-3: "\e992";
$ico-arrow-right-3: "\e993";
$ico-grid: "\e96d";
$ico-filters: "\e970";
$ico-maximize-2: "\e971";
$ico-minimize-2: "\e972";
$ico-expand: "\f114";
$ico-contract: "\f110";
$ico-move: "\f12a";
$ico-cart: "\e90b";
$ico-cart-2: "\e925";
$ico-cart-1: "\e907";
$ico-cart-4: "\e909";
$ico-refresh: "\e978";
$ico-phone: "\e903";
$ico-circle: "\e97a";
$ico-navigation: "\e97b";
$ico-mail: "\e97d";
$ico-mail-open: "\e92e";
$ico-checkbox-empty: "\e97e";
$ico-checkbox-filled: "\e97f";
$ico-unlock: "\e989";
$ico-lock: "\e983";
$ico-locked: "\e933";
$ico-authorized: "\e935";
$ico-credit-card1: "\f111";
$ico-drop-up: "\e980";
$ico-drop-down: "\e985";
$ico-drop-left: "\e986";
$ico-drop-right: "\e987";
$ico-tickbox: "\e98c";
$ico-tickbox-check: "\e98d";
$ico-location-pin: "\e910";
$ico-location: "\e98e";
$ico-map: "\f128";
$ico-gift: "\e904";
$ico-gift-2: "\e994";
$ico-clock: "\e998";
$ico-clock-2: "\e999";
$ico-user: "\e94a";
$ico-user-2: "\e99c";
$ico-search: "\e99d";
$ico-search2: "\e99e";
$ico-heart: "\e99f";
$ico-heart-filled: "\e960";
$ico-truck-2: "\e9a1";
$ico-truck-1: "\e91b";
$ico-truck: "\f13d";
$ico-truck-time: "\e981";
$ico-amazon: "\ea89";
$ico-google: "\ea8a";
$ico-facebook: "\ea91";
$ico-instagram: "\e98f";
$ico-whatsapp: "\ea94";
$ico-twitter: "\ea97";
$ico-youtube: "\ea9e";
$ico-vimeo: "\eaa1";
$ico-linkedin: "\eacb";
$ico-pinterest: "\e99a";
$ico-pinterest-2: "\ead2";
$ico-tiktok: "\e990";
$ico-tiktok-2: "\e93f";
$ico-attach: "\f107";
$ico-calculator: "\f10a";
$ico-check: "\e995";
$ico-check-2: "\f10e";
$ico-close: "\f10f";
$ico-minus: "\f129";
$ico-plus: "\f136";
$ico-close-2: "\e95c";
$ico-upload: "\f149";
$ico-download: "\f112";
$ico-notification: "\e95e";
$ico-edit: "\f113";
$ico-gallery: "\f11b";
$ico-gallery-grid: "\f11c";
$ico-gallery-close: "\f11d";
$ico-gallery-left: "\f11e";
$ico-gallery-right: "\f11f";
$ico-link: "\f123";
$ico-unlink: "\f13f";
$ico-print: "\f137";
$ico-trash: "\f135";
$ico-trash-2: "\f13a";
$ico-view: "\f14a";
$ico-zoom-in: "\f14b";
$ico-zoom-out: "\f14c";
$ico-story: "\e988";
$ico-info-filled: "\f14d";
$ico-help: "\e975";
$ico-help-msg: "\e96f";
$ico-alert: "\e979";
$ico-logo-stop-jeans: "\e929";
$ico-logo-youtube1-path1: "\e926";
$ico-logo-youtube1-path2: "\e92a";
$ico-WhatsApp_Logo-path1: "\e92b";
$ico-WhatsApp_Logo-path2: "\e92c";
$ico-WhatsApp_Logo-path3: "\e92d";
$ico-logo-youtube-path1: "\e923";
$ico-logo-youtube-path2: "\e924";
$ico-vtex: "\e921";
$ico-jump: "\e922";
$ico-icono-ordenar: "\e91f";
$ico-uniE90F: "\e92e";
$ico-Usuario: "\e92f";
$ico-Camin: "\e930";
$ico-jump1: "\e931";
$ico-vtex1: "\e932";
$ico-arrow-up-circled: "\e957";
$ico-arrow-down-circled: "\e956";
$ico-arrow-left-circled: "\e958";
$ico-arrow-right-circled: "\e959";
$ico-plus-circled: "\e95a";
$ico-loader: "\e95b";
$ico-menu: "\e95d";
$ico-home1: "\e95f";
$ico-arrow-up: "\e963";
$ico-arrow-down: "\e962";
$ico-arrow-left: "\e964";
$ico-arrow-right: "\e965";
$ico-up-arrow: "\f144";
$ico-down-arrow: "\f148";
$ico-left-arrow: "\f122";
$ico-right-arrow: "\f138";
$ico-play1: "\e961";
$ico-pause: "\f12f";
$ico-speaker-off: "\e966";
$ico-speaker: "\e967";
$ico-play-2: "\e977";
$ico-pause-2: "\e976";
$ico-circled-play: "\e96e";
$ico-chevron-down: "\e968";
$ico-chevron-up: "\e969";
$ico-chevron-left: "\e96a";
$ico-chevron-right: "\e96b";
$ico-right-long-arrow: "\e98a";
$ico-leftd: "\e96c";
$ico-rightd: "\e973";
$ico-arrow-up-3: "\e98b";
$ico-arrow-down-3: "\e991";
$ico-arrow-left-3: "\e992";
$ico-arrow-right-3: "\e993";
$ico-grid: "\e96d";
$ico-filters: "\e970";
$ico-maximize-2: "\e971";
$ico-minimize-2: "\e972";
$ico-expand: "\f114";
$ico-contract: "\f110";
$ico-move: "\f12a";
$ico-cart: "\e934";
$ico-cart-2: "\e935";
$ico-cart-1: "\e936";
$ico-cart-4: "\e937";
$ico-refresh: "\e978";
$ico-phone: "\e933";
$ico-circle: "\e97a";
$ico-navigation: "\e97b";
$ico-mail: "\e97d";
$ico-mail-open: "\e93a";
$ico-checkbox-empty: "\e97e";
$ico-checkbox-filled: "\e97f";
$ico-unlock: "\e989";
$ico-lock: "\e983";
$ico-locked: "\e939";
$ico-authorized: "\e938";
$ico-credit-card1: "\f111";
$ico-drop-up: "\e980";
$ico-drop-down: "\e985";
$ico-drop-left: "\e986";
$ico-drop-right: "\e987";
$ico-tickbox: "\e98c";
$ico-tickbox-check: "\e98d";
$ico-location-pin: "\e93b";
$ico-location: "\e98e";
$ico-map: "\f128";
$ico-gift: "\e93c";
$ico-gift-2: "\e994";
$ico-clock: "\e998";
$ico-clock-2: "\e999";
$ico-user: "\e94a";
$ico-user-2: "\e99c";
$ico-search: "\e99d";
$ico-search2: "\e99e";
$ico-heart: "\e99f";
$ico-heart-filled: "\e960";
$ico-truck-2: "\e9a1";
$ico-truck-1: "\e93d";
$ico-truck: "\f13d";
$ico-truck-time: "\e981";
$ico-amazon: "\ea89";
$ico-google: "\ea8a";
$ico-facebook: "\ea94";
$ico-instagram1: "\e98f";
$ico-whatsapp: "\ea95";
$ico-twitter: "\ea97";
$ico-youtube1: "\ea9e";
$ico-vimeo: "\eaa1";
$ico-linkedin: "\eacb";
$ico-tiktok: "\e990";
$ico-tiktok-2: "\e93f";
$ico-attach: "\f107";
$ico-calculator: "\f10a";
$ico-check: "\e995";
$ico-check-2: "\f10e";
$ico-close: "\f10f";
$ico-minus: "\f129";
$ico-plus: "\f136";
$ico-close-2: "\e95c";
$ico-upload: "\f149";
$ico-download: "\f112";
$ico-notification: "\e95e";
$ico-edit: "\f113";
$ico-gallery: "\f11b";
$ico-gallery-grid: "\f11c";
$ico-gallery-close: "\f11d";
$ico-gallery-left: "\f11e";
$ico-gallery-right: "\f11f";
$ico-link: "\f123";
$ico-unlink: "\f13f";
$ico-print: "\f137";
$ico-trash: "\f135";
$ico-trash-2: "\f13a";
$ico-view: "\f14a";
$ico-zoom-in: "\f14b";
$ico-zoom-out: "\f14c";
$ico-story: "\e988";
$ico-info-filled: "\f14d";
$ico-help: "\e975";
$ico-help-msg: "\e96f";
$ico-alert: "\e979";
$ico-whatsappV4-path1: "\e925";
$ico-whatsappV4-path2: "\e927";
$ico-whatsappV4-path3: "\e928";
$ico-icono-flecha-expandir: "\e920";
$ico-home: "\e900";
$ico-home2: "\e901";
$ico-home3: "\e902";
$ico-office: "\e903";
$ico-newspaper: "\e904";
$ico-pencil: "\e905";
$ico-pencil2: "\e906";
$ico-quill: "\e907";
$ico-pen: "\e908";
$ico-blog: "\e909";
$ico-eyedropper: "\e90a";
$ico-droplet: "\e90b";
$ico-paint-format: "\e90c";
$ico-image: "\e90d";
$ico-images: "\e90e";
$ico-camera: "\e90f";
$ico-headphones: "\e910";
$ico-music: "\e911";
$ico-play: "\e912";
$ico-film: "\e913";
$ico-video-camera: "\e914";
$ico-dice: "\e915";
$ico-pacman: "\e916";
$ico-spades: "\e917";
$ico-clubs: "\e918";
$ico-diamonds: "\e919";
$ico-bullhorn: "\e91a";
$ico-connection: "\e91b";
$ico-podcast: "\e91c";
$ico-feed: "\e91d";
$ico-mic: "\e91e";
$ico-facebook2-path1: "\ea91";
$ico-facebook2-path2: "\ea93";
$ico-instagram: "\ea92";
$ico-youtube-path1: "\ea9";
$ico-youtube-path2: "\eaa";
$ico-pinterest: "\ead1";
$ico-barra-usuario: "\ead3";
$ico-barra-pago: "\ead4";
$ico-barra-camion: "\ead5";
$ico-barra-bolsa: "\ead6";
$ico-papelera: "\ead7";
@mixin ico-fonts-base($chosenIcofont: $iconFont) {
  font-family: #{$chosenIcofont} !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin ico-fonts($content, $color, $size, $chosenIcofont: $iconFont) {
  @include ico-fonts-base($chosenIcofont);
  @if $color != "" {
    color: $color;
  }
  content: $content;
  font-size: $size;
  text-indent: 0;
}

.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$iconFont}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-uniE90F {
  &:before {
    content: $ico-uniE90F;
  }
}
.ico-Usuario {
  &:before {
    content: $ico-Usuario;
  }
}
.ico-Camin {
  &:before {
    content: $ico-Camin;
  }
}

.ico-jump {
  &:before {
    content: $ico-jump;
  }
}
.ico-vtex {
  &:before {
    content: $ico-vtex;
  }
}
.ico-arrow-up-circled {
  &:before {
    content: $ico-arrow-up-circled;
  }
}
.ico-arrow-down-circled {
  &:before {
    content: $ico-arrow-down-circled;
  }
}
.ico-arrow-left-circled {
  &:before {
    content: $ico-arrow-left-circled;
  }
}
.ico-arrow-right-circled {
  &:before {
    content: $ico-arrow-right-circled;
  }
}
.ico-plus-circled {
  &:before {
    content: $ico-plus-circled;
  }
}
.ico-loader {
  &:before {
    content: $ico-loader;
  }
}
.ico-menu {
  &:before {
    content: $ico-menu;
  }
}
.ico-home {
  &:before {
    content: $ico-home;
  }
}
.ico-arrow-up {
  &:before {
    content: $ico-arrow-up;
  }
}
.ico-arrow-down {
  &:before {
    content: $ico-arrow-down;
  }
}
.ico-arrow-left {
  &:before {
    content: $ico-arrow-left;
  }
}
.ico-arrow-right {
  &:before {
    content: $ico-arrow-right;
  }
}
.ico-up-arrow {
  &:before {
    content: $ico-up-arrow;
  }
}
.ico-down-arrow {
  &:before {
    content: $ico-down-arrow;
  }
}
.ico-left-arrow {
  &:before {
    content: $ico-left-arrow;
  }
}
.ico-right-arrow {
  &:before {
    content: $ico-right-arrow;
  }
}
.ico-play {
  &:before {
    content: $ico-play;
  }
}
.ico-pause {
  &:before {
    content: $ico-pause;
  }
}
.ico-speaker-off {
  &:before {
    content: $ico-speaker-off;
  }
}
.ico-speaker {
  &:before {
    content: $ico-speaker;
  }
}
.ico-play-2 {
  &:before {
    content: $ico-play-2;
  }
}
.ico-pause-2 {
  &:before {
    content: $ico-pause-2;
  }
}
.ico-circled-play {
  &:before {
    content: $ico-circled-play;
  }
}
.ico-chevron-down {
  &:before {
    content: $ico-chevron-down;
  }
}
.ico-chevron-up {
  &:before {
    content: $ico-chevron-up;
  }
}
.ico-chevron-left {
  &:before {
    content: $ico-chevron-left;
  }
}
.ico-chevron-right {
  &:before {
    content: $ico-chevron-right;
  }
}
.ico-right-long-arrow {
  &:before {
    content: $ico-right-long-arrow;
  }
}
.ico-leftd {
  &:before {
    content: $ico-leftd;
  }
}
.ico-rightd {
  &:before {
    content: $ico-rightd;
  }
}
.ico-arrow-up-3 {
  &:before {
    content: $ico-arrow-up-3;
  }
}
.ico-arrow-down-3 {
  &:before {
    content: $ico-arrow-down-3;
  }
}
.ico-arrow-left-3 {
  &:before {
    content: $ico-arrow-left-3;
  }
}
.ico-arrow-right-3 {
  &:before {
    content: $ico-arrow-right-3;
  }
}
.ico-grid {
  &:before {
    content: $ico-grid;
  }
}
.ico-filters {
  &:before {
    content: $ico-filters;
  }
}
.ico-maximize-2 {
  &:before {
    content: $ico-maximize-2;
  }
}
.ico-minimize-2 {
  &:before {
    content: $ico-minimize-2;
  }
}
.ico-expand {
  &:before {
    content: $ico-expand;
  }
}
.ico-contract {
  &:before {
    content: $ico-contract;
  }
}
.ico-move {
  &:before {
    content: $ico-move;
  }
}
.ico-cart {
  &:before {
    content: $ico-cart;
  }
}
.ico-cart-2 {
  &:before {
    content: $ico-cart-2;
  }
}
.ico-cart-1 {
  &:before {
    content: $ico-cart-1;
  }
}
.ico-cart-4 {
  &:before {
    content: $ico-cart-4;
  }
}
.ico-refresh {
  &:before {
    content: $ico-refresh;
  }
}
.ico-phone {
  &:before {
    content: $ico-phone;
  }
}
.ico-circle {
  &:before {
    content: $ico-circle;
  }
}
.ico-navigation {
  &:before {
    content: $ico-navigation;
  }
}
.ico-mail {
  &:before {
    content: $ico-mail;
  }
}
.ico-mail-open {
  &:before {
    content: $ico-mail-open;
  }
}
.ico-checkbox-empty {
  &:before {
    content: $ico-checkbox-empty;
  }
}
.ico-checkbox-filled {
  &:before {
    content: $ico-checkbox-filled;
  }
}
.ico-unlock {
  &:before {
    content: $ico-unlock;
  }
}
.ico-lock {
  &:before {
    content: $ico-lock;
  }
}
.ico-locked {
  &:before {
    content: $ico-locked;
  }
}
.ico-authorized {
  &:before {
    content: $ico-authorized;
  }
}
.ico-credit-card1 {
  &:before {
    content: $ico-credit-card1;
  }
}
.ico-drop-up {
  &:before {
    content: $ico-drop-up;
  }
}
.ico-drop-down {
  &:before {
    content: $ico-drop-down;
  }
}
.ico-drop-left {
  &:before {
    content: $ico-drop-left;
  }
}
.ico-drop-right {
  &:before {
    content: $ico-drop-right;
  }
}
.ico-tickbox {
  &:before {
    content: $ico-tickbox;
  }
}
.ico-tickbox-check {
  &:before {
    content: $ico-tickbox-check;
  }
}
.ico-location-pin {
  &:before {
    content: $ico-location-pin;
  }
}
.ico-location {
  &:before {
    content: $ico-location;
  }
}
.ico-map {
  &:before {
    content: $ico-map;
  }
}
.ico-gift {
  &:before {
    content: $ico-gift;
  }
}
.ico-gift-2 {
  &:before {
    content: $ico-gift-2;
  }
}
.ico-clock {
  &:before {
    content: $ico-clock;
  }
}
.ico-clock-2 {
  &:before {
    content: $ico-clock-2;
  }
}
.ico-user {
  &:before {
    content: $ico-user;
  }
}
.ico-user-2 {
  &:before {
    content: $ico-user-2;
  }
}
.ico-search {
  &:before {
    content: $ico-search;
  }
}
.ico-search2 {
  &:before {
    content: $ico-search2;
  }
}
.ico-heart {
  &:before {
    content: $ico-heart;
  }
}
.ico-heart-filled {
  &:before {
    content: $ico-heart-filled;
  }
}
.ico-truck-2 {
  &:before {
    content: $ico-truck-2;
  }
}
.ico-truck-1 {
  &:before {
    content: $ico-truck-1;
  }
}
.ico-truck {
  &:before {
    content: $ico-truck;
  }
}
.ico-truck-time {
  &:before {
    content: $ico-truck-time;
  }
}
.ico-amazon {
  &:before {
    content: $ico-amazon;
  }
}
.ico-google {
  &:before {
    content: $ico-google;
  }
}
.ico-facebook {
  &:before {
    content: $ico-facebook;
  }
}
.ico-instagram {
  &:before {
    content: $ico-instagram;
  }
}
.ico-whatsapp {
  &:before {
    content: $ico-whatsapp;
  }
}
.ico-twitter {
  &:before {
    content: $ico-twitter;
  }
}
.ico-youtube {
  &:before {
    content: $ico-youtube;
  }
}
.ico-vimeo {
  &:before {
    content: $ico-vimeo;
  }
}
.ico-linkedin {
  &:before {
    content: $ico-linkedin;
  }
}
.ico-pinterest {
  &:before {
    content: $ico-pinterest;
  }
}
.ico-pinterest-2 {
  &:before {
    content: $ico-pinterest-2;
  }
}
.ico-tiktok {
  &:before {
    content: $ico-tiktok;
  }
}
.ico-tiktok-2 {
  &:before {
    content: $ico-tiktok-2;
  }
}
.ico-attach {
  &:before {
    content: $ico-attach;
  }
}
.ico-calculator {
  &:before {
    content: $ico-calculator;
  }
}
.ico-check {
  &:before {
    content: $ico-check;
  }
}
.ico-check-2 {
  &:before {
    content: $ico-check-2;
  }
}
.ico-close {
  &:before {
    content: $ico-close;
  }
}
.ico-minus {
  &:before {
    content: $ico-minus;
  }
}
.ico-plus {
  &:before {
    content: $ico-plus;
  }
}
.ico-close-2 {
  &:before {
    content: $ico-close-2;
  }
}
.ico-upload {
  &:before {
    content: $ico-upload;
  }
}
.ico-download {
  &:before {
    content: $ico-download;
  }
}
.ico-notification {
  &:before {
    content: $ico-notification;
  }
}
.ico-edit {
  &:before {
    content: $ico-edit;
  }
}
.ico-gallery {
  &:before {
    content: $ico-gallery;
  }
}
.ico-gallery-grid {
  &:before {
    content: $ico-gallery-grid;
  }
}
.ico-gallery-close {
  &:before {
    content: $ico-gallery-close;
  }
}
.ico-gallery-left {
  &:before {
    content: $ico-gallery-left;
  }
}
.ico-gallery-right {
  &:before {
    content: $ico-gallery-right;
  }
}
.ico-link {
  &:before {
    content: $ico-link;
  }
}
.ico-unlink {
  &:before {
    content: $ico-unlink;
  }
}
.ico-print {
  &:before {
    content: $ico-print;
  }
}
.ico-trash {
  &:before {
    content: $ico-trash;
  }
}
.ico-trash-2 {
  &:before {
    content: $ico-trash-2;
  }
}
.ico-view {
  &:before {
    content: $ico-view;
  }
}
.ico-zoom-in {
  &:before {
    content: $ico-zoom-in;
  }
}
.ico-zoom-out {
  &:before {
    content: $ico-zoom-out;
  }
}
.ico-story {
  &:before {
    content: $ico-story;
  }
}
.ico-info-filled {
  &:before {
    content: $ico-info-filled;
  }
}
.ico-help {
  &:before {
    content: $ico-help;
  }
}
.ico-help-msg {
  &:before {
    content: $ico-help-msg;
  }
}
.ico-alert {
  &:before {
    content: $ico-alert;
  }
}
.ico-logo-stop-jeans {
  &:before {
    content: $ico-logo-stop-jeans; 
  }
}
.ico-logo-youtube1 .path1 {
  &:before {
    content: $ico-logo-youtube1-path1;  
    color: rgb(40, 40, 40);
  }
}
.ico-logo-youtube1 .path2 {
  &:before {
    content: $ico-logo-youtube1-path2;  
    margin-left: -1.400390625em;  
    color: rgb(255, 255, 255);
  }
}
.ico-WhatsApp_Logo .path1 {
  &:before {
    content: $ico-WhatsApp_Logo-path1;  
    color: rgb(255, 255, 255);
  }
}
.ico-WhatsApp_Logo .path2 {
  &:before {
    content: $ico-WhatsApp_Logo-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.ico-WhatsApp_Logo .path3 {
  &:before {
    content: $ico-WhatsApp_Logo-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.ico-logo-youtube .path1 {
  &:before {
    content: $ico-logo-youtube-path1;  
    color: rgb(40, 40, 40);
  }
}
.ico-logo-youtube .path2 {
  &:before {
    content: $ico-logo-youtube-path2;  
    margin-left: -1.4189453125em;  
    color: rgb(255, 255, 255);
  }
}
.ico-vtex {
  &:before {
    content: $ico-vtex; 
  }
}
.ico-jump {
  &:before {
    content: $ico-jump; 
  }
}
.ico-icono-ordenar {
  &:before {
    content: $ico-icono-ordenar; 
  }
}
.ico-uniE90F {
  &:before {
    content: $ico-uniE90F; 
  }
}
.ico-Usuario {
  &:before {
    content: $ico-Usuario;     
    color: #757575;
  }
}
.ico-Camin {
  &:before {
    content: $ico-Camin;     
    color: #666;
  }
}
.ico-jump1 {
  &:before {
    content: $ico-jump1; 
  }
}
.ico-vtex1 {
  &:before {
    content: $ico-vtex1; 
  }
}
.ico-arrow-up-circled {
  &:before {
    content: $ico-arrow-up-circled; 
  }
}
.ico-arrow-down-circled {
  &:before {
    content: $ico-arrow-down-circled; 
  }
}
.ico-arrow-left-circled {
  &:before {
    content: $ico-arrow-left-circled; 
  }
}
.ico-arrow-right-circled {
  &:before {
    content: $ico-arrow-right-circled; 
  }
}
.ico-plus-circled {
  &:before {
    content: $ico-plus-circled; 
  }
}
.ico-loader {
  &:before {
    content: $ico-loader; 
  }
}
.ico-menu {
  &:before {
    content: $ico-menu; 
  }
}
.ico-home1 {
  &:before {
    content: $ico-home1; 
  }
}
.ico-arrow-up {
  &:before {
    content: $ico-arrow-up; 
  }
}
.ico-arrow-down {
  &:before {
    content: $ico-arrow-down; 
  }
}
.ico-arrow-left {
  &:before {
    content: $ico-arrow-left; 
  }
}
.ico-arrow-right {
  &:before {
    content: $ico-arrow-right; 
  }
}
.ico-up-arrow {
  &:before {
    content: $ico-up-arrow; 
  }
}
.ico-down-arrow {
  &:before {
    content: $ico-down-arrow; 
  }
}
.ico-left-arrow {
  &:before {
    content: $ico-left-arrow; 
  }
}
.ico-right-arrow {
  &:before {
    content: $ico-right-arrow; 
  }
}
.ico-play1 {
  &:before {
    content: $ico-play1; 
  }
}
.ico-pause {
  &:before {
    content: $ico-pause; 
  }
}
.ico-speaker-off {
  &:before {
    content: $ico-speaker-off; 
  }
}
.ico-speaker {
  &:before {
    content: $ico-speaker; 
  }
}
.ico-play-2 {
  &:before {
    content: $ico-play-2; 
  }
}
.ico-pause-2 {
  &:before {
    content: $ico-pause-2; 
  }
}
.ico-circled-play {
  &:before {
    content: $ico-circled-play; 
  }
}
.ico-chevron-down {
  &:before {
    content: $ico-chevron-down; 
  }
}
.ico-chevron-up {
  &:before {
    content: $ico-chevron-up; 
  }
}
.ico-chevron-left {
  &:before {
    content: $ico-chevron-left; 
  }
}
.ico-chevron-right {
  &:before {
    content: $ico-chevron-right; 
  }
}
.ico-right-long-arrow {
  &:before {
    content: $ico-right-long-arrow; 
  }
}
.ico-leftd {
  &:before {
    content: $ico-leftd; 
  }
}
.ico-rightd {
  &:before {
    content: $ico-rightd; 
  }
}
.ico-arrow-up-3 {
  &:before {
    content: $ico-arrow-up-3; 
  }
}
.ico-arrow-down-3 {
  &:before {
    content: $ico-arrow-down-3; 
  }
}
.ico-arrow-left-3 {
  &:before {
    content: $ico-arrow-left-3; 
  }
}
.ico-arrow-right-3 {
  &:before {
    content: $ico-arrow-right-3; 
  }
}
.ico-grid {
  &:before {
    content: $ico-grid; 
  }
}
.ico-filters {
  &:before {
    content: $ico-filters; 
  }
}
.ico-maximize-2 {
  &:before {
    content: $ico-maximize-2; 
  }
}
.ico-minimize-2 {
  &:before {
    content: $ico-minimize-2; 
  }
}
.ico-expand {
  &:before {
    content: $ico-expand; 
  }
}
.ico-contract {
  &:before {
    content: $ico-contract; 
  }
}
.ico-move {
  &:before {
    content: $ico-move; 
  }
}
.ico-cart {
  &:before {
    content: $ico-cart; 
  }
}
.ico-cart-2 {
  &:before {
    content: $ico-cart-2; 
  }
}
.ico-cart-1 {
  &:before {
    content: $ico-cart-1; 
  }
}
.ico-cart-4 {
  &:before {
    content: $ico-cart-4; 
  }
}
.ico-refresh {
  &:before {
    content: $ico-refresh; 
  }
}
.ico-phone {
  &:before {
    content: $ico-phone; 
  }
}
.ico-circle {
  &:before {
    content: $ico-circle; 
  }
}
.ico-navigation {
  &:before {
    content: $ico-navigation; 
  }
}
.ico-mail {
  &:before {
    content: $ico-mail; 
  }
}
.ico-mail-open {
  &:before {
    content: $ico-mail-open; 
  }
}
.ico-checkbox-empty {
  &:before {
    content: $ico-checkbox-empty; 
  }
}
.ico-checkbox-filled {
  &:before {
    content: $ico-checkbox-filled; 
  }
}
.ico-unlock {
  &:before {
    content: $ico-unlock; 
  }
}
.ico-lock {
  &:before {
    content: $ico-lock; 
  }
}
.ico-locked {
  &:before {
    content: $ico-locked; 
  }
}
.ico-authorized {
  &:before {
    content: $ico-authorized; 
  }
}
.ico-credit-card1 {
  &:before {
    content: $ico-credit-card1; 
  }
}
.ico-drop-up {
  &:before {
    content: $ico-drop-up; 
  }
}
.ico-drop-down {
  &:before {
    content: $ico-drop-down; 
  }
}
.ico-drop-left {
  &:before {
    content: $ico-drop-left; 
  }
}
.ico-drop-right {
  &:before {
    content: $ico-drop-right; 
  }
}
.ico-tickbox {
  &:before {
    content: $ico-tickbox; 
  }
}
.ico-tickbox-check {
  &:before {
    content: $ico-tickbox-check; 
  }
}
.ico-location-pin {
  &:before {
    content: $ico-location-pin; 
  }
}
.ico-location {
  &:before {
    content: $ico-location; 
  }
}
.ico-map {
  &:before {
    content: $ico-map; 
  }
}
.ico-gift {
  &:before {
    content: $ico-gift; 
  }
}
.ico-gift-2 {
  &:before {
    content: $ico-gift-2; 
  }
}
.ico-clock {
  &:before {
    content: $ico-clock; 
  }
}
.ico-clock-2 {
  &:before {
    content: $ico-clock-2; 
  }
}
.ico-user {
  &:before {
    content: $ico-user; 
  }
}
.ico-user-2 {
  &:before {
    content: $ico-user-2; 
  }
}
.ico-search {
  &:before {
    content: $ico-search; 
  }
}
.ico-search2 {
  &:before {
    content: $ico-search2; 
  }
}
.ico-heart {
  &:before {
    content: $ico-heart; 
  }
}
.ico-heart-filled {
  &:before {
    content: $ico-heart-filled; 
  }
}
.ico-truck-2 {
  &:before {
    content: $ico-truck-2; 
  }
}
.ico-truck-1 {
  &:before {
    content: $ico-truck-1; 
  }
}
.ico-truck {
  &:before {
    content: $ico-truck; 
  }
}
.ico-truck-time {
  &:before {
    content: $ico-truck-time; 
  }
}
.ico-amazon {
  &:before {
    content: $ico-amazon; 
  }
}
.ico-google {
  &:before {
    content: $ico-google; 
  }
}
.ico-facebook {
  &:before {
    content: $ico-facebook; 
  }
}
.ico-instagram1 {
  &:before {
    content: $ico-instagram1; 
  }
}
.ico-whatsapp {
  &:before {
    content: $ico-whatsapp; 
  }
}
.ico-twitter {
  &:before {
    content: $ico-twitter; 
  }
}
.ico-youtube1 {
  &:before {
    content: $ico-youtube1; 
  }
}
.ico-vimeo {
  &:before {
    content: $ico-vimeo; 
  }
}
.ico-linkedin {
  &:before {
    content: $ico-linkedin; 
  }
}

.ico-tiktok {
  &:before {
    content: $ico-tiktok; 
  }
}
.ico-tiktok-2 {
  &:before {
    content: $ico-tiktok-2; 
  }
}
.ico-attach {
  &:before {
    content: $ico-attach; 
  }
}
.ico-calculator {
  &:before {
    content: $ico-calculator; 
  }
}
.ico-check {
  &:before {
    content: $ico-check; 
  }
}
.ico-check-2 {
  &:before {
    content: $ico-check-2; 
  }
}
.ico-close {
  &:before {
    content: $ico-close; 
  }
}
.ico-minus {
  &:before {
    content: $ico-minus; 
  }
}
.ico-plus {
  &:before {
    content: $ico-plus; 
  }
}
.ico-close-2 {
  &:before {
    content: $ico-close-2; 
  }
}
.ico-upload {
  &:before {
    content: $ico-upload; 
  }
}
.ico-download {
  &:before {
    content: $ico-download; 
  }
}
.ico-notification {
  &:before {
    content: $ico-notification; 
  }
}
.ico-edit {
  &:before {
    content: $ico-edit; 
  }
}
.ico-gallery {
  &:before {
    content: $ico-gallery; 
  }
}
.ico-gallery-grid {
  &:before {
    content: $ico-gallery-grid; 
  }
}
.ico-gallery-close {
  &:before {
    content: $ico-gallery-close; 
  }
}
.ico-gallery-left {
  &:before {
    content: $ico-gallery-left; 
  }
}
.ico-gallery-right {
  &:before {
    content: $ico-gallery-right; 
  }
}
.ico-link {
  &:before {
    content: $ico-link; 
  }
}
.ico-unlink {
  &:before {
    content: $ico-unlink; 
  }
}
.ico-print {
  &:before {
    content: $ico-print; 
  }
}
.ico-trash {
  &:before {
    content: $ico-trash; 
  }
}
.ico-trash-2 {
  &:before {
    content: $ico-trash-2; 
  }
}
.ico-view {
  &:before {
    content: $ico-view; 
  }
}
.ico-zoom-in {
  &:before {
    content: $ico-zoom-in; 
  }
}
.ico-zoom-out {
  &:before {
    content: $ico-zoom-out; 
  }
}
.ico-story {
  &:before {
    content: $ico-story; 
  }
}
.ico-info-filled {
  &:before {
    content: $ico-info-filled; 
  }
}
.ico-help {
  &:before {
    content: $ico-help; 
  }
}
.ico-help-msg {
  &:before {
    content: $ico-help-msg; 
  }
}
.ico-alert {
  &:before {
    content: $ico-alert; 
  }
}
.ico-whatsappV4 .path1 {
  &:before {
    content: $ico-whatsappV4-path1;  
    color: rgb(255, 255, 255);
  }
}
.ico-whatsappV4 .path2 {
  &:before {
    content: $ico-whatsappV4-path2;  
    margin-left: -1.2001953125em;  
    color: rgb(51, 51, 51);
  }
}
.ico-whatsappV4 .path3 {
  &:before {
    content: $ico-whatsappV4-path3;  
    margin-left: -1.2001953125em;  
    color: rgb(51, 51, 51);
  }
}
.ico-icono-flecha-expandir {
  &:before {
    content: $ico-icono-flecha-expandir; 
  }
}
.ico-home {
  &:before {
    content: $ico-home; 
  }
}
.ico-home2 {
  &:before {
    content: $ico-home2; 
  }
}
.ico-home3 {
  &:before {
    content: $ico-home3; 
  }
}
.ico-office {
  &:before {
    content: $ico-office; 
  }
}
.ico-newspaper {
  &:before {
    content: $ico-newspaper; 
  }
}
.ico-pencil {
  &:before {
    content: $ico-pencil; 
  }
}
.ico-pencil2 {
  &:before {
    content: $ico-pencil2; 
  }
}
.ico-quill {
  &:before {
    content: $ico-quill; 
  }
}
.ico-pen {
  &:before {
    content: $ico-pen; 
  }
}
.ico-blog {
  &:before {
    content: $ico-blog; 
  }
}
.ico-eyedropper {
  &:before {
    content: $ico-eyedropper; 
  }
}
.ico-droplet {
  &:before {
    content: $ico-droplet; 
  }
}
.ico-paint-format {
  &:before {
    content: $ico-paint-format; 
  }
}
.ico-image {
  &:before {
    content: $ico-image; 
  }
}
.ico-images {
  &:before {
    content: $ico-images; 
  }
}
.ico-camera {
  &:before {
    content: $ico-camera; 
  }
}
.ico-headphones {
  &:before {
    content: $ico-headphones; 
  }
}
.ico-music {
  &:before {
    content: $ico-music; 
  }
}
.ico-play {
  &:before {
    content: $ico-play; 
  }
}
.ico-film {
  &:before {
    content: $ico-film; 
  }
}
.ico-video-camera {
  &:before {
    content: $ico-video-camera; 
  }
}
.ico-dice {
  &:before {
    content: $ico-dice; 
  }
}
.ico-pacman {
  &:before {
    content: $ico-pacman; 
  }
}
.ico-spades {
  &:before {
    content: $ico-spades; 
  }
}
.ico-clubs {
  &:before {
    content: $ico-clubs; 
  }
}
.ico-diamonds {
  &:before {
    content: $ico-diamonds; 
  }
}
.ico-bullhorn {
  &:before {
    content: $ico-bullhorn; 
  }
}
.ico-connection {
  &:before {
    content: $ico-connection; 
  }
}
.ico-podcast {
  &:before {
    content: $ico-podcast; 
  }
}
.ico-feed {
  &:before {
    content: $ico-feed; 
  }
}
.ico-mic {
  &:before {
    content: $ico-mic;     
    color: #455a64;
  }
}
.ico-facebook2 .path1 {
  &:before {
    content: $ico-facebook2-path1;  
    color: rgb(0, 0, 0);
  }
}
.ico-facebook2 .path2 {
  &:before {
    content: $ico-facebook2-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.ico-instagram {
  &:before {
    content: $ico-instagram; 
  }
}
.ico-youtube .path1 {
  &:before {
    content: $ico-youtube-path1;  
    color: rgb(40, 40, 40);
  }
}
.ico-youtube .path2 {
  &:before {
    content: $ico-youtube-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.ico-pinterest {
  &:before {
    content: $ico-pinterest; 
  }
}
.ico-barra-usuario {
  &:before {
    content: $ico-barra-usuario; 
  }
}
.ico-barra-pago {
  &:before {
    content: $ico-barra-pago; 
  }
}
.ico-barra-camion {
  &:before {
    content: $ico-barra-camion; 
  }
}
.ico-barra-bolsa {
  &:before {
    content: $ico-barra-bolsa; 
  }
}
.ico-papelera {
  &:before {
    content: $ico-papelera; 
  }
}



