.link {
    border-radius: 0;
    transition: all;
    text-transform: initial;
    border-width: 2px;
    justify-content: center;
}
.label {
    font-weight: bold;
}

.label--button__menu-image{
    font-family: 'Quicksand-Bold';
    justify-content: flex-start;
    display: flex;
    color: #575757;
}

.buttonLink--button__menu-image,
.buttonLink--button__menu-image:hover{
    background-color: transparent;
    border-color: transparent;
    padding-top: 10px;
}